.profile{
    width: 7rem;
    height: 7rem;
    border-radius: 100px;
    background-color: gray;
}

.profile-m{
    margin-top: 6rem;
}

/* .section{
    height: 60vh;
} */

.tabs{
    border-radius: 10px;
    /* padding-top: 6px; */
    /* padding-bottom: 0.1rem; */
}

.active-tab{
    background-color: #114232;
    color: white;
}

.pic-section{
    height: 100%;
}

.pic{
    height: 5rem;
    aspect-ratio: 1/1;
    border-radius: 50px;
    background-color: gray;
}

.items{
    border: 1px solid black;
    border-radius: 20px;
}

.items p{
    margin: 0;
    font-size: 1rem;
}

.kamp-img{
    width: 5vw;
    aspect-ratio: 2/1;
    background-color: gray;
}

.file-input {
    display: none;
}