.wall{
    width: 100%;
    aspect-ratio: 2.5/1;
    background-color: beige;
}

.green-line{
    width: 70px;
    height: 5px;
    background-color: green;
    transition: width 0.3s ease
}

.stats:hover{
    transition: width 0.3s ease
}

.stats:hover .green-line{
    width: 70%;
}

.section{
    height: calc(20vh + 25vw);
}

.section2{
    height: calc(25vh + 30vw)
}

.section3{
    height: calc(20vh + 40vw)
}

.brand{
    width: 40rem;
    height: 10rem;
    background-color: gray;
}

.carousel-item {
    transition: opacity 0.5s ease-in-out;
}

#map {
    /* position: relative; */
    /* width: 100%; */
    height: calc(10vh + 25vw);
    aspect-ratio: 4/2;
    /* background: url('/asset/beranda/indonesia_map.png') no-repeat center center;
    background-size: cover; */
}
.marker {
    position: absolute;
    top: 0;
    width: 24px;
    height: 24px;
    background-color: red;
    border-radius: 50%;
    cursor: move;
}