.wall{
    width: 100%;
    aspect-ratio: 2.5/1;
    background-color: beige;
}

.green-line{
    width: 70px;
    height: 5px;
    background-color: green;
    transition: width 0.3s ease
}

.stats:hover{
    transition: width 0.3s ease
}

.stats:hover .green-line{
    width: 70%;
}

.section{
    height: calc(20vh + 25vw);
}

.section2{
    height: calc(25vh + 30vw)
}

.section3{
    height: calc(20vh + 40vw)
}

.brand{
    width: 40rem;
    height: 10rem;
    background-color: gray;
}

.carousel-item {
    transition: opacity 0.5s ease-in-out;
}

#map {
    /* position: relative; */
    /* width: 100%; */
    height: calc(10vh + 25vw);
    aspect-ratio: 4/2;
    /* background: url('/asset/beranda/indonesia_map.png') no-repeat center center;
    background-size: cover; */
}
.marker {
    position: absolute;
    top: 0;
    width: 24px;
    height: 24px;
    background-color: red;
    border-radius: 50%;
    cursor: move;
}

.card-img-top {
    height: 200px;
    width: 100%;
    display: block;
}

.card-title {
    /* background-color: #D9D9D9; */
    margin-top: 0.5rem;
    font-weight: 550;
    /* color: #114232; */
    height: 4rem;
    text-align: center;
}

.card-body {
    margin-top: -1rem;
}

.card-dsk {
    /* background-color: bisque; */
    margin-top: -0.5rem;
    /* color: #114232; */
    font-weight: 500;
}

.card-dsk1 {
    /* background-color: bisque; */
    /* color: #114232; */
    padding-top: 0.5rem;
    font-weight: 500;
}

.progress {
    height: 6px;
    background-color: #ADD9A8;
}

.progress-bar {
    background-color: #114232;
}

.bwh1 {
    font-weight: 550;
    /* color: #114232; */
    margin-right: 0.3rem;
    text-align: right;
}

.bwh2 {
    /* color: #114232; */
    font-size: 12px;
    margin-top: 4px;
}

.card-dsk3 {
    margin-top: 1rem;
    font-weight: 500;
    font-size: 14px;
    text-align: center;
}

.card-dsk4 {
    /* color: #114232; */
    font-weight: 550;
    font-size: 19px;
    height: 3rem;
    text-align: center;
}

/* BUTTON */
.btn-primary1 {
    width: auto;
    border-radius: 20px;
    font-size: 15px;
    background-color: #114232;
    border-color: #114232;
    font-weight: 600;
    color: white;
}

.img-caro{
    height: 45vw;
}

.carousel-item {
    transition: transform 1s ease, opacity 1s ease; /* Custom animation */
}

.laporan{
    align-items: center;
    width: 20rem;
    border-radius: 20px;
    font-size: 15px;
    background-color: white;
    border-color: #114232;
    font-weight: 600;
    color: #114232;
}
.laporanTahunan{
    background-color: antiquewhite;
    align-items: center;
}