html, body{
    height: 100vh;
    margin: 0;
    font-family: 'Poppins', sans-serif;
}

h1 {
    font-size: clamp(1.5rem, 2.5vw, 3rem); /* min 1.5rem, preferred 2.5vw, max 3rem */
}

h2 {
    font-size: clamp(1.25rem, 2vw, 2.5rem); /* min 1.25rem, preferred 2vw, max 2.5rem */
}

p {
    font-size: clamp(0.875rem, 1.5vw, 1.25rem); /* min 0.875rem, preferred 1.5vw, max 1.25rem */
}

.wrapper {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    /* padding-top: 100px; */
}

.color{
    color: #114232;
}

.outline-button {
    color: #114232;
    text-decoration: none;
    display: inline-block;
    cursor: pointer;
    border-radius: 20px;
    outline: 2px solid green;
}

.footer_bg{
    background-image: url('../footer_img.jpg');
    background-size: cover;
    background-position: bottom center;
    background-repeat: no-repeat;
}

.navbar-prop{
    z-index: 1000;
    position: fixed;
    width: 100%;
}

.error-message{
    font-size: 0.7rem;
    color: red;
}

.nav-profile{
    width: 30px;
    height: 30px;
    border-radius: 40px;
    background-color: gray;
}

.nav-active{
    font-weight: 600;
}

.footer-font{
    font-size: 0.8rem;
}