html, body{
    height: 100vh;
    margin: 0;
    font-family: 'Poppins', sans-serif;
}

h1 {
    font-size: clamp(1.5rem, 2.5vw, 3rem); /* min 1.5rem, preferred 2.5vw, max 3rem */
}

h2 {
    font-size: clamp(1.25rem, 2vw, 2.5rem); /* min 1.25rem, preferred 2vw, max 2.5rem */
}

p {
    font-size: clamp(0.875rem, 1.5vw, 1.25rem); /* min 0.875rem, preferred 1.5vw, max 1.25rem */
}

.wrapper {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    padding-top: 73.97px;
}

.color{
    color: #114232;
}

.outline-button {
    color: #114232;
    text-decoration: none;
    /* display: inline-block; */
    cursor: pointer;
    border-radius: 20px;
    outline: 2px solid green;
    aspect-ratio: 3/1;
    height: 2rem;
}

.footer_bg{
    background-image: url('../footer_img.jpg');
    background-size: cover;
    background-position: bottom center;
    background-repeat: no-repeat;
}

.navbar-prop{
    z-index: 1000;
    position: fixed;
    width: 100%;
}

.error-message{
    font-size: 0.7rem;
    color: red;
}

.nav-profile{
    width: 30px;
    height: 30px;
    border-radius: 40px;
    background-color: gray;
}

.nav-active{
    font-weight: 600;
}

.footer-font{
    font-size: 0.8rem;
}

.misibumi-logo{
    width: 3rem;
    aspect-ratio: 1/1;
}

.logo-text{
    font-weight: 500;
}

.btn:hover {
    background-color: #ADD9A8;
    border-color: #114232;
    color: #114232;

}

.btn-primary {
    width: auto;
    border-radius: 20px;
    font-size: 15px;
    background-color: #114232;
    border-color: #114232;
    font-weight: 600;
}