.subJudul {
    text-align: center;
    padding-top: 2rem;
}

.artikel{
    height: 17rem;
    width: 100%;
}

.konten{
    /* background-color: bisque; */
    margin-top: 1rem;
    margin-left: 1rem;
    margin-right: 1rem;
    margin-bottom: 1rem;
}

/* KIRI */

.gbrArtikel{
    height: 12rem;
    width: 22rem;
   
}

.nama{
    text-align: center;
    font-size: 15px;
    margin-top: 0.5rem;
}


/* KANAN */
.atas{
    height: 14rem;
}
.judul{
    text-align: center;
    height: 3rem;
    font-weight: 500;
}
.dsk{
    font-size: 15px;
    margin-top: -2rem;
}
.bwh{
    height: 2rem;
}
.tgl{
    text-align: right;
    font-size: 16px;
    color: #666666;
}

.no-underline {
    text-decoration: none;
}