* {
    box-sizing: border-box;
}

body,
html {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

.header {
    width: 100vw;
    height: 65vh;
}

.content-section {
    position: relative;
}

.image-container {
    position: relative;
    width: 100%;
    max-width: 500px;
}

.background-circle {
    position: absolute;
    width: 380px;
    height: 380px;
    border-radius: 50%;
    background: rgba(138, 158, 0, 0.15);
    top: 44%;
    left: 55%;
    transform: translate(-50%, -50%);
    z-index: 0;
}

.image-container img {
    position: relative;
    width: 100%;
    z-index: 1;
}

.tree-details {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

/* .tree-details {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
} */

/* .tree-info {
    max-width: 60%;
} */

/* .benefits-box {
    background-color: #f8f9fa;
    padding: 1rem;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0,0,0,0.1);
} */

.tree-gallery {
    background-color: white;
    width: 60%;
    border-radius: 20px;
    border: 1px solid rgba(237, 240, 217, 1);
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.25);
}

.tree-gallery img {
    max-width: 10%;
    height: fit-content;
    cursor: pointer;
    margin: 0 15px;
    background-color: white;
    border: none;
    box-shadow: none;
}

.section {
    height: 80vh;
    width: 100vw;
}

.section h1 {
    color: #114232;
}

.section h4 {
    text-align: center;
    color: #114232;
}