* {
    box-sizing: border-box;
}

body,
html {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

.header {
    width: 100vw;
    height: 65vh;
}

.content-section {
    position: relative;
}

.image-container {
    position: relative;
    width: 100%;
    max-width: 500px;
}

.background-circle {
    position: absolute;
    width: 380px;
    height: 380px;
    border-radius: 50%;
    background: rgba(138, 158, 0, 0.15);
    top: 44%;
    left: 55%;
    transform: translate(-50%, -50%);
    z-index: 0;
}

.image-container img {
    position: relative;
    width: 100%;
    z-index: 1;
}

.tree-details {
    flex-direction: column;
    text-align: center;
    color: #114232;
}

.tree-details p {
    font-size: medium;
    text-align: justify;
    color: black;
}

.tree-details ul {
    text-align: justify;
    color: black;
}

/* .tree-details {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
} */

/* .tree-info {
    max-width: 60%;
} */

/* .benefits-box {
    background-color: #f8f9fa;
    padding: 1rem;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0,0,0,0.1);
} */

.tree-gallery {
    background-color: white;
    width: 60%;
    border-radius: 20px;
    border: 1px solid rgba(237, 240, 217, 1);
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.25);
}

.tree-nav {
    width: 75%;
    height: fit-content;
    cursor: pointer;
    margin: 0 15px;
    background-color: white;
    border: none;
    box-shadow: none;
}

.card-img-top {
    height: 200px;
    width: 100%;
    display: block;
}

.card-title {
    margin-top: 0.5rem;
    font-weight: 550;
    height: 4rem;
    text-align: center;
}

.card-body {
    margin-top: -1rem;
}

.card-dsk {
    margin-top: -0.5rem;
    font-weight: 500;
}

.card-dsk1 {
    padding-top: 0.5rem;
    font-weight: 500;
}

.progress {
    height: 6px;
    background-color: #ADD9A8;
}

.progress-bar {
    background-color: #114232;
}

.bwh1 {
    font-weight: 550;
    margin-right: 0.3rem;
    text-align: right;
}

.bwh2 {
    font-size: 12px;
    margin-top: 4px;
}

.card-dsk3 {
    margin-top: 1rem;
    font-weight: 500;
    font-size: 14px;
    text-align: center;
}

.card-dsk4 {
    font-weight: 550;
    font-size: 19px;
    height: 3rem;
    text-align: center;
}

.btn-primary {
    width: auto;
    border-radius: 20px;
    font-size: 15px;
    background-color: #114232;
    border-color: #114232;
    font-weight: 600;
}